@media (min-width: 1025px) {

    .photo {
        width: 30rem;
        height: 50rem;
        margin: auto;
    }



    .navigation {
        margin: auto;
        margin-top: 3rem;
        width: 25rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}